.DS_Store
/.build
/Packages
xcuserdata/
Derived/InfoPlists/SnapshotSupport-Info.plist
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.vscode/
swift-snapshot-testing-macros.xcodeproj/project.pbxproj
swift-snapshot-testing-macros.xcodeproj/project.xcworkspace/contents.xcworkspacedata