name: Run Tests

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  format-and-lint:
    name: Format and Lint
    runs-on: macos-15
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
  
      - name: Make bundled tools executable
        run: chmod +x Tools/bin/*

      - name: Run Tools/format
        run: ./Tools/format
    
  build-legacy-swift-versions:
    name: Build Legacy Swift Versions
    needs: [format-and-lint]
    runs-on: macos-15
    strategy:
      matrix:
        xcode: ['16.1', '16.2', '16.3', '16.4']
        
    steps:
      - name: Select Xcode version (${{ matrix.xcode }})
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ matrix.xcode }}

      - name: Checkout
        uses: actions/checkout@v4

      - name: Swift build
        run: swift build
    
  ios-integration-tests:
    name: Integration Tests
    needs: [format-and-lint, build-legacy-swift-versions]
    runs-on: macos-15

    steps:
      - name: Select Xcode version (16.4)
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.4'

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'

      - name: Run SnapshotsIntegrationTests (iOS)
        run: |
          xcodebuild test \
            -scheme SnapshotsIntegrationTests \
            -destination "platform=iOS Simulator,name=iPhone 16,OS=18.6"
    
  ios-integration-repetition-tests:
    name: Integration Repetition Tests
    needs: [format-and-lint, build-legacy-swift-versions]
    runs-on: macos-15

    steps:
      - name: Select Xcode version (16.4)
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.4'

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'

      - name: Run SnapshotsIntegrationRepetitionTests (iOS)
        run: |
          xcodebuild test \
            -scheme SnapshotsIntegrationRepetitionTests \
            -destination "platform=iOS Simulator,name=iPhone 16,OS=18.6"

  macos-unit-tests:
    name: Unit Tests
    needs: [format-and-lint, build-legacy-swift-versions]
    runs-on: macos-15

    steps:
      - name: Select Xcode version (16.4)
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.4'

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'

      - name: Run SnapshotsUnitTests (macOS)
        run: |
          xcodebuild test \
            -scheme SnapshotsUnitTests \
            -destination 'platform=macOS'